In [1]:
import pandas as pd
import numpy as np
import json

In [3]:
ted_data = pd.read_csv('https://raw.githubusercontent.com/ngb0330/Projects/master/Datasets/ted_talks.csv')
ted_data.head()

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...","[{'id': 1725, 'hero': 'https://pe.tedcdn.com/i...",Technology columnist,"['computers', 'entertainment', 'interface desi...",Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,1140912000,35,Majora Carter,Majora Carter: Greening the ghetto,1,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...","[{'id': 1041, 'hero': 'https://pe.tedcdn.com/i...",Activist for environmental justice,"['MacArthur grant', 'activism', 'business', 'c...",Greening the ghetto,https://www.ted.com/talks/majora_carter_s_tale...,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,1140566400,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...","[{'id': 2056, 'hero': 'https://pe.tedcdn.com/i...",Global health expert; data visionary,"['Africa', 'Asia', 'Google', 'demo', 'economic...",The best stats you've ever seen,https://www.ted.com/talks/hans_rosling_shows_t...,12005869

In [205]:
ted_data.shape

(2550, 17)

In [72]:
import ast
ast.literal_eval(ted_data['ratings'][0])

[{'id': 7, 'name': 'Funny', 'count': 19645},
 {'id': 1, 'name': 'Beautiful', 'count': 4573},
 {'id': 9, 'name': 'Ingenious', 'count': 6073},
 {'id': 3, 'name': 'Courageous', 'count': 3253},
 {'id': 11, 'name': 'Longwinded', 'count': 387},
 {'id': 2, 'name': 'Confusing', 'count': 242},
 {'id': 8, 'name': 'Informative', 'count': 7346},
 {'id': 22, 'name': 'Fascinating', 'count': 10581},
 {'id': 21, 'name': 'Unconvincing', 'count': 300},
 {'id': 24, 'name': 'Persuasive', 'count': 10704},
 {'id': 23, 'name': 'Jaw-dropping', 'count': 4439},
 {'id': 25, 'name': 'OK', 'count': 1174},
 {'id': 26, 'name': 'Obnoxious', 'count': 209},
 {'id': 10, 'name': 'Inspiring', 'count': 24924}]

In [142]:
def str_to_dict_list(original_data, column):
    import ast
    new_data = original_data.copy()
    new_data['{}'.format(column)] = new_data[column].apply(lambda d: ast.literal_eval(str(d)))
    return new_data

In [74]:
def string_to_list(original_data, column, sep):
    new_data = original_data.copy()
    new_data['{}_cleaned'.format(column)] = new_data[column].str.strip('][').str.replace("'",'').str.split(sep)
    return new_data

In [76]:
ted_data_tags_cleaned = string_to_list(ted_data, 'tags', ',')

In [143]:
ted_data_2 = str_to_dict_list(ted_data, 'ratings')
set([j['name'] for i in ted_data_2['ratings'] for j in i])

{'Beautiful',
 'Confusing',
 'Courageous',
 'Fascinating',
 'Funny',
 'Informative',
 'Ingenious',
 'Inspiring',
 'Jaw-dropping',
 'Longwinded',
 'OK',
 'Obnoxious',
 'Persuasive',
 'Unconvincing'}

In [101]:
def get_key_set(dataframe, column, key):
    return set(list_row[key] for row in dataframe[column] for list_row in row)

In [144]:
key_set = get_key_set(str_to_dict_list(ted_data, 'ratings'), 'ratings', 'name')

In [140]:
def add_dict_list_key_counts(dataframe, column, key_set, key1, key2):
    new_dataframe = dataframe[[column]].copy()
    for i,row in new_dataframe.iterrows():
        for dict_item in row[column]:
            if dict_item[key1] in key_set:
                      new_dataframe.at[i,'{}_{}'.format(dict_item[key1], column)] = dict_item[key2]
    return new_dataframe._get_numeric_data()

In [160]:
ratings_df = add_dict_list_key_counts(ted_data_2, 'ratings', key_set, 'name', 'count')

In [169]:
ted_data_tags_cleaned['tags_cleaned'].apply(lambda x: x.strip())

AttributeError: 'list' object has no attribute 'strip'

In [79]:
def add_dummy_tags(original_data):
    data = original_data.copy()
    tags_list = []
    for i in range(data.shape[0]):
        for tag in data['tags_cleaned'][i]:
            if tag not in tags_list:
                tags_list.append(tag)
    for tag in tags_list[1:]:
        data['has_{}_tag'.format(tag.replace("''", ""))] = int(tag in ted_data['tags_cleaned'])
    return data

In [80]:
def get_values_list(data_frame, column):
    column_list = []
    for i in range(data_frame.shape[0]):
        for value in data_frame[column][i]:
            column_list.append(value.strip())
    return column_list

In [81]:
tags_list = get_values_list(ted_data_tags_cleaned,'tags_cleaned')

In [82]:
def get_counts_dict(value_list):
    from collections import Counter
    cnt = Counter()
    for value in value_list:
        cnt[value]+=1
    return dict(cnt)

In [83]:
tags_count = get_counts_dict(tags_list)

In [84]:
def get_counts_data_frame(data_frame, counts_dict):
    import pandas as pd
    key_array,value_array = counts_dict.keys(), counts_dict.values()
    value_percentages = [value/data_frame.shape[0] * 100 for value in value_array]
    new_data_frame = pd.DataFrame(list(zip(key_array,value_array,value_percentages)), 
                                 columns = ['Key', 'Value', 'Value_Percentage'])
    return new_data_frame

In [231]:
tags_df = get_counts_data_frame(ted_data, tags_count)
tags_greater_than_1 = tags_df.sort_values('Value_Percentage', ascending=False)[tags_df['Value_Percentage'] > 1]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [227]:
def add_list_dummies(original_data, column, dummies_list):
    data = original_data[[column]].copy()
    tags_list = []
    for i,row in data.iterrows():
        for value in row[column]:
            data.at[i,'is_{}_{}'.format(value, column)] = int(value.strip() in dummies_list)
    data = data._get_numeric_data().fillna(0)
    return data.loc[:, data.sum() > data.shape[0]/100]

In [228]:
df_tags_dummies = add_list_dummies(ted_data_tags_cleaned, 'tags_cleaned', my_list)

In [229]:
df_tags_dummies.shape

(2550, 180)

In [233]:
my_list = list(tags_greater_than_1["Key"].values)
len(my_list)

177

In [10]:
def unix_to_datetime(data_frame, column):
    import datetime, pandas as pd
    new_data_frame = data_frame.copy()
    new_data_frame['{}_as_datetime'.format(column)] = new_data_frame[column].apply(lambda d: datetime.datetime.fromtimestamp(int(d)).strftime('%Y-%m-%d %H:%M:%S'))
    return new_data_frame

In [94]:
import datetime
unixtimestamp = ted_data['film_date'][0]
datetime.datetime.fromtimestamp(unixtimestamp).strftime('%Y-%m-%d %H:%M:%S')

'2006-02-24 19:00:00'

In [117]:
unix_to_datetime(ted_data, 'published_date')['published_date_as_datetime']

0       2006-06-26 20:11:00
1       2006-06-26 20:11:00
2       2006-06-26 20:11:00
3       2006-06-26 20:11:00
4       2006-06-27 16:38:00
5       2006-06-27 16:38:00
6       2006-07-09 20:11:00
7       2006-07-09 20:11:00
8       2006-07-17 20:11:00
9       2006-07-17 20:11:00
10      2006-07-24 20:11:00
11      2006-07-24 20:11:00
12      2006-07-24 20:11:00
13      2006-07-31 20:11:00
14      2006-07-31 20:11:00
15      2006-08-07 20:11:00
16      2006-08-07 20:11:00
17      2006-08-14 20:11:00
18      2006-08-14 20:11:00
19      2006-08-20 20:11:00
20      2006-08-20 20:11:00
21      2006-08-24 20:11:00
22      2006-08-24 20:11:00
23      2006-09-05 20:11:00
24      2006-09-05 20:11:00
25      2006-09-11 20:11:00
26      2006-09-11 20:11:00
27      2006-09-18 20:11:00
28      2006-09-18 20:11:00
29      2006-09-25 20:11:00
               ...
2520    2017-08-24 10:51:28
2521    2017-08-24 16:00:06
2522    2017-08-25 10:57:57
2523    2017-08-28 10:54:35
2524    2017-08-29 10:36:36
2525    2017-08-29 16:00:46
2526    2017-08-30 11:00:51
2527    2017-08-31 10:49:04
2528    2017-08-31 16:00:31
2529    2017-09-01 10:29:03
2530    2017-09-05 10:59:15
2531    2017-09-05 16:00:24
2532    2017-09-06 10:48:37
2533    2017-09-07 10:54:08
2534    2017-09-07 16:00:38
2535    2017-09-08 10:51:06
2536    2017-09-11 11:01:00
2537    2017-09-12 10:42:56
2538    2017-09-12 16:00:51
2539    2017-09-13 10:45:42
2540    2017-09-14 10:50:04
2541    2017-09-14 16:00:02
2542    2017-09-15 11:08:13
2543    2017-09-18 11:14:47
2544    2017-09-19 11:06:53
2545    2017-09-19 16:00:16
2546    2017-09-20 11:02:17
2547    2017-09-21 11:01:35
2548    2017-09-21 16:00:42
2549    2017-09-22 11:00:22
Name: published_date_as_datetime, Length: 2550, dtype: object

In [124]:
def string_column_length(data_frame, column):
    new_data_frame = data_frame.copy()
    new_data_frame['{}_length'.format(column)] = new_data_frame[column].str.len()
    return new_data_frame

In [130]:
new_data_frame = string_column_length(ted_data, 'title')

In [8]:
from date_lib import add_datepart

In [9]:
def generate_new_date_columns(dates_df):
    copied_dates_df = dates_df.copy()
    for col in copied_dates_df.columns:
        add_datepart(copied_dates_df, col)
    return copied_dates_df

In [11]:
ted_data_3 = unix_to_datetime(ted_data, 'film_date')

In [13]:
ted_data_4 = unix_to_datetime(ted_data_3, 'published_date')

In [16]:
ted_data_date_parts = generate_new_date_columns(ted_data_4[['film_date_as_datetime', 'published_date_as_datetime']])

In [17]:
ted_data_date_parts.head()

,film_date_as_datetimeYear,film_date_as_datetimeMonth,film_date_as_datetimeWeek,film_date_as_datetimeDay,film_date_as_datetimeDayofweek,film_date_as_datetimeDayofyear,film_date_as_datetimeIs_month_end,film_date_as_datetimeIs_month_start,film_date_as_datetimeIs_quarter_end,film_date_as_datetimeIs_quarter_start,...,published_date_as_datetimeDay,published_date_as_datetimeDayofweek,published_date_as_datetimeDayofyear,published_date_as_datetimeIs_month_end,published_date_as_datetimeIs_month_start,published_date_as_datetimeIs_quarter_end,published_date_as_datetimeIs_quarter_start,published_date_as_datetimeIs_year_end,published_date_as_datetimeIs_year_start,published_date_as_datetimeElapsed
0,2006,2,8,24,4,55,False,False,False,False,...,26,0,177,False,False,False,False,False,False,1151352660
1,2006,2,8,24,4,55,False,False,False,False,...,26,0,177,False,False,False,False,False,False,1151352660
2,2006,2,8,23,3,54,False,False,False,False,...,26,0,177,False,False,False,False,False,False,1151352660
3,2006,2,8,25,5,56,False,False,False,False,...,26,0,177,False,False,False,False,False,False,1151352660
4,2006,2,8,21,1,52,False,False,False,False,...,27,1,178,False,False,False,False,False,False,1151426280

In [22]:
ted_data_date_parts.iloc[2538]

film_date_as_datetimeYear                           2016
film_date_as_datetimeMonth                            11
film_date_as_datetimeWeek                             45
film_date_as_datetimeDay                              10
film_date_as_datetimeDayofweek                         3
film_date_as_datetimeDayofyear                       315
film_date_as_datetimeIs_month_end                  False
film_date_as_datetimeIs_month_start                False
film_date_as_datetimeIs_quarter_end                False
film_date_as_datetimeIs_quarter_start              False
film_date_as_datetimeIs_year_end                   False
film_date_as_datetimeIs_year_start                 False
film_date_as_datetimeElapsed                  1478804400
published_date_as_datetimeYear                      2017
published_date_as_datetimeMonth                        9
published_date_as_datetimeWeek                        37
published_date_as_datetimeDay                         12
published_date_as_datetimeDayofweek                    1
published_date_as_datetimeDayofyear                  255
published_date_as_datetimeIs_month_end             False
published_date_as_datetimeIs_month_start           False
published_date_as_datetimeIs_quarter_end           False
published_date_as_datetimeIs_quarter_start         False
published_date_as_datetimeIs_year_end              False
published_date_as_datetimeIs_year_start            False
published_date_as_datetimeElapsed             1505232051
Name: 2538, dtype: object

In [61]:
from datetime import datetime
def days_between(d1, d2):
    d1 = datetime.strptime(d1, '%Y-%m-%d %H:%M:%S')
    d2 = datetime.strptime(d2, '%Y-%m-%d %H:%M:%S')
    return abs((d2 - d1).days)

In [62]:
days_between(ted_data_4['published_date_as_datetime'][0],ted_data_4['film_date_as_datetime'][0])

123

In [234]:
def add_days_between(original_data, col1, col2):
    data = original_data.copy()[[col1,col2]]
    data['days_between{}_and_{}'.format(col1,col2)] = data[[col1,col2]].apply(lambda x: days_between(*x), axis=1)
    return data[['days_between{}_and_{}'.format(col1,col2)]]

In [244]:
days_between_df = add_days_between(ted_data_4, col2='film_date_as_datetime', col1='published_date_as_datetime')

In [237]:
numeric_ted_data = ted_data._get_numeric_data()

In [239]:
numeric_ted_data.columns

Index(['comments', 'duration', 'film_date', 'languages', 'num_speaker',
       'published_date', 'views'],
      dtype='object')

In [240]:
numeric_ted_data = numeric_ted_data[['views','comments', 'duration', 'film_date', 'languages', 'num_speaker',
       'published_date']]

In [242]:
numeric_ted_data.head()

,views,comments,duration,film_date,languages,num_speaker,published_date
0,47227110,4553,1164,1140825600,60,1,1151367060
1,3200520,265,977,1140825600,43,1,1151367060
2,1636292,124,1286,1140739200,26,1,1151367060
3,1697550,200,1116,1140912000,35,1,1151367060
4,12005869,593,1190,1140566400,48,1,1151440680

In [248]:
ted_data_merged = numeric_ted_data.join(ratings_df, how = "outer").join(ted_data_date_parts, how = "outer").join(days_between_df, how = "outer").join(df_tags_dummies, how = "outer")

In [250]:
ted_data_merged.head()

,views,comments,duration,film_date,languages,num_speaker,published_date,Funny_ratings,Beautiful_ratings,Ingenious_ratings,...,is_ TED Fellows_tags_cleaned,is_ feminism_tags_cleaned,is_ TEDx_tags_cleaned,is_Gender equality_tags_cleaned,is_ journalism_tags_cleaned,is_ medical research_tags_cleaned,is_ disability_tags_cleaned,is_ security_tags_cleaned,is_ molecular biology_tags_cleaned,is_ algorithm_tags_cleaned
0,47227110,4553,1164,1140825600,60,1,1151367060,19645.0,4573.0,6073.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3200520,265,977,1140825600,43,1,1151367060,544.0,58.0,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1636292,124,1286,1140739200,26,1,1151367060,964.0,60.0,183.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1697550,200,1116,1140912000,35,1,1151367060,59.0,291.0,105.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12005869,593,1190,1140566400,48,1,1151440680,1390.0,942.0,3202.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [251]:
from sklearn.preprocessing import StandardScaler

In [252]:
scaler = StandardScaler()
scaler.fit(ted_data_merged)

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype bool, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [257]:
scaled_data = scaler.fit_transform(ted_data_merged)

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype bool, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype bool, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [258]:
scaled_X = scaled_data[:, 1:]
scaled_y = scaled_data[:, 0]

In [260]:
from sklearn.model_selection import train_test_split

In [261]:
X_train, X_test, y_train, y_test = train_test_split(scaled_X, scaled_y, test_size=0.33, random_state=35)

In [262]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFECV
model = LinearRegression(n_jobs = -1)
rfecv = RFECV(model, cv = 5)
X_train_rfecv = rfecv.fit(X_train,y_train)

In [263]:
grid_scores = X_train_rfecv.grid_scores_

In [264]:
grid_scores

array([-4.69247233e-04, -2.11303886e-03, -1.52478789e-03, -2.53473952e-03,
       -4.42919142e-03, -1.61340787e-04,  5.54795700e-04,  8.82339158e-04,
        1.48542124e-01,  3.58238301e-01,  4.73122795e-01,  5.14990417e-01,
        5.70755906e-01,  5.80977027e-01,  6.00344275e-01,  6.28433023e-01,
        6.28603085e-01,  6.27904140e-01,  6.35695576e-01,  6.45753822e-01,
        6.56316833e-01,  6.55947687e-01,  6.68565159e-01,  6.76969263e-01,
        6.82794834e-01,  6.84203718e-01,  6.81098251e-01,  6.79490425e-01,
        6.83251433e-01,  6.83306667e-01,  6.80977836e-01,  6.82128592e-01,
        6.82816309e-01,  6.81415861e-01,  6.79216363e-01,  6.78305408e-01,
        6.79046709e-01,  6.78628872e-01,  6.79408436e-01,  6.79249020e-01,
        6.78063703e-01,  6.77119593e-01,  6.76300962e-01,  6.75588918e-01,
        6.74990111e-01,  6.75275693e-01,  6.74897587e-01,  6.75096879e-01,
        6.74656465e-01,  6.73995733e-01,  6.72884972e-01,  6.71801338e-01,
        6.70920133e-01,  6.70107098e-01,  6.70104810e-01,  6.69755601e-01,
        6.69309864e-01,  6.69164037e-01,  6.69328840e-01,  6.68790782e-01,
        6.67698446e-01,  6.67952838e-01,  6.67209038e-01,  6.66484885e-01,
        6.66454623e-01,  6.65599058e-01,  6.65344098e-01,  6.65220980e-01,
        6.65011917e-01,  6.64140976e-01,  6.63237591e-01,  6.63157316e-01,
        6.63724366e-01,  6.63609747e-01,  6.63871954e-01,  6.64015726e-01,
        6.63985591e-01,  6.64042132e-01,  6.63938553e-01,  6.64766282e-01,
        6.64552860e-01,  6.65482993e-01,  6.64883356e-01,  6.65332999e-01,
        6.65599465e-01,  6.65474683e-01,  6.65279287e-01,  6.65396182e-01,
        6.65067213e-01,  6.64318314e-01,  6.64033530e-01,  6.63951626e-01,
        6.63870175e-01,  6.62627242e-01,  6.62748926e-01,  6.62493088e-01,
        6.61783808e-01,  6.61638468e-01,  6.61577893e-01,  6.61258035e-01,
        6.60794597e-01,  6.60713221e-01,  6.60052911e-01,  6.59683806e-01,
        6.59427454e-01,  6.59536885e-01,  6.58898157e-01,  6.58406997e-01,
        6.58213880e-01,  6.58443436e-01,  6.58068343e-01,  6.57871919e-01,
        6.57813194e-01,  6.57806114e-01,  6.58091255e-01,  6.57470933e-01,
        6.57905404e-01,  6.58098522e-01,  6.58326979e-01,  6.58366016e-01,
        6.58559037e-01,  6.58311738e-01,  6.58003613e-01,  6.58072493e-01,
        6.57639595e-01,  6.57306966e-01,  6.57192639e-01,  6.56703049e-01,
        6.56794823e-01,  6.56671356e-01,  6.56166244e-01,  6.55857723e-01,
        6.55386034e-01,  6.55256139e-01,  6.54395481e-01,  6.54033047e-01,
        6.53928186e-01,  6.53873090e-01,  6.53662899e-01,  6.53641956e-01,
        6.53357576e-01,  6.53307042e-01,  6.52713719e-01,  6.52751815e-01,
        6.52797791e-01,  6.52869494e-01,  6.52557938e-01,  6.53129590e-01,
        6.52609774e-01,  6.52727635e-01,  6.52925844e-01, -2.58151347e+21,
       -2.47008453e+21, -1.31653325e+24, -2.95874899e+19, -9.53528194e+22,
       -7.16395665e+24, -2.33999588e+24, -1.24948340e+23, -5.76408986e+22,
       -1.33453169e+24, -8.39947849e+23, -9.33573763e+23, -4.12523141e+24,
       -1.83779354e+21, -6.49580484e+22, -9.01574365e+20, -2.01885551e+23,
       -1.75153124e+22, -1.46509293e+23, -1.76419548e+23, -8.53646765e+22,
       -6.53657020e+22, -4.47431969e+25, -4.56714925e+25, -4.26783020e+24,
       -3.78764520e+25, -2.42801801e+24, -3.72766395e+23, -1.52765862e+23,
       -1.30799947e+24, -2.51674492e+24, -3.26038836e+23, -1.05303431e+24,
       -2.33344398e+24, -1.27493361e+25, -1.26531231e+25, -7.34731627e+23,
       -3.56866259e+24, -6.13977227e+24, -1.17389175e+24, -2.58728011e+24,
       -1.66935534e+25, -3.75619135e+24, -2.77474319e+24, -5.71865667e+23,
       -1.38439683e+25, -1.43324555e+24, -8.25085658e+23, -3.47750636e+24,
       -1.79072386e+24, -4.69495830e+23, -8.90487984e+24, -2.42271590e+23,
       -1.13229797e+24, -4.32527379e+23, -4.47422372e+23, -1.35270195e+24,
       -6.88630023e+23, -5.52249040e+24, -6.94953811e+24, -1.37445012e+24,
       -3.25364998e+24, -1.04650964e+24, -5.93140053e+24, -4.26125387e+24,
       -1.19795535e+25, -4.61136520e+24, -2.64091660e+24, -8.46239156e+23,
       -1.23345951e+25, -5.93161963e+23, -9.24667863e+24, -1.27612565e+24,
       -3.48346226e+24, -5.65169365e+24, -2.40395731e+24])

In [267]:
x_value_range = list(range(0, 228))[::-1]

In [269]:
from graph import trace_values, plot
score_trace = trace_values(x_value_range[-50:], grid_scores[-50:])
plot([score_trace])

In [272]:
ted_data_merged.to_feather('ted_data')